@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
    --primary : #3c096c;
    --secondary : #240046;
}

html,
body{
    height: 100%; 
    overflow-x:hidden ; 
    font-family: 'Open Sans';
    letter-spacing: -0.03em;
}
.bg-primary{ 
    background-color: var(--primary) !important;
    background-repeat: repeat-x !important;
}   
.btn-primary ,
.btn-primary :focus,
.btn-primary :active,
.btn-primary :disabled,
.btn-primary :focus,
.btn-primary :hover{
    background-color: var(--secondary)!important;
    border-color: var(--secondary)
}
.btn{
    font-size: 15px;
}
.ilustracao{
    height: 350px;
    border-left: 20px;
    border-right: 20px;
    margin-left: 200px;
} 
.logo{
    height: 100px;
} 
.box{
    background-color: #fff;
    box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: inline-block; 
    padding: 25px;
} 
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="email"]:disabled{
    background:#f6f5f5 ;
    border: 0.5px solid #dcdcdc;
    font-size: 15px;
    outline: none; 
    color: #626262,

}