.sidebar{
    background-color: black;
    border-bottom: 50px black;
    margin-block-end: 500px black;
    min-height: fit-content;
}
.logo-dente{
    width: 50px;
    align-items: center;
}

#wrapper{
    height: 100%;
}
sidebar ul li {
     list-style: none;
     width: 100%;
}

sidebar ul li a {
    width: 100%;
    color:rgb(37, 32, 24);
    opacity: 0.6;
    display: flex;
    align-items: center;
    text-decoration: none;
    pad: 5px 0;
    margin: 2.5px 0;
    transition: 0.5s;
    border-radius: 5px;
    
}
sidebar ul li a.active{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
